body {
    font-family: 'Museo';
    background-color: #274441;
    background-color: #214747;
}    

div {
    box-sizing:border-box;
}

strong {
    font-weight: 900;
}

.ribbon {
    background:#FFFDF7;
}

.ribbon > div:nth-child(odd) {
    background-color:#d8d8d824;
}

.header {
    flex-direction:column;
    width:100%;
    font-weight:300;
    text-shadow: 1px 2px 4px rgba(0,0,0,0.5);
}

.section,
.header .content-container,
.menu:before {
    box-shadow: inset 0px 0px 150px rgba(0,0,0,0.25);
}

    .menu {
        width: 100%;
        font-size: 20px;
        padding:0 1em;
        box-sizing:border-box;
        color: #FFF9E7;
        /*border: 4px solid #fb01fb;*/
        /* background:#204848;*/
        background-color:#204848;
        z-index:1000;
        position:fixed;
        overflow:hidden;
    }

    .menu:before {
        content: ' ';
        width:100%;
        height:1000px;
        left:0;
        top:0;
        position:absolute;
    }

        .menu a {
            position:relative;
            z-index:10;
        }

        .menu a {
            color: #FFF9E7;
            text-decoration: none;
            display: inline-block;
            padding: 2em 1em;
        }

        .menu a.tel {
            float:right;
        }

    .header .content-container {
/*         border: 4px solid #ff00ff; */
        display: flex;
        align-items:center;
        justify-content:center;
        height:100%;
        /* background: #204848; */
        background-color:#204848;

    }

        .header .content {
            height:400px;
            width: 620px;
/*             border: 2px solid #ff00ff;  */
            display:flex;
            align-items: center;
        }

            .logo {
                height: 100%;
                min-width: 220px;
                flex-direction:row;
                align-items:center;
                background-image:url(/art/Resurs1.svg);
                background-repeat:no-repeat;
                background-position:center;
                background-size:contain;
                transition: all 0.25s ease-in-out;
            }

                .logo:hover {
                    transform:scale(1.1);
                }

            .tagline {
                font-size: 35px;
                font-weight: 700;
                color: white;
                display:flex;
                padding-left:70px;
                flex-direction:column;
                justify-content:center;
                line-height: 1.3;
            }

            .tagline h1 {
                font-size: 40.2px;
                white-space:nowrap;
                font-weight:500;
                color: #FFF9E7;
            }

            .tagline h2 {
                white-space:nowrap;
                font-weight:100;
                color: #FFF9E7;
            }

a {
    text-decoration: none;
    color:#3ead95;
}

p, ul {
    font-weight:300;
    font-size: 25px;
    color: #766E6E;
    line-height:1.46em;
    text-align:justify;
    hyphens:auto;
    margin-bottom:2em;
    /* margin-top:-0.5em; */
    box-sizing: border-box;
}

p:last-child {
    margin-bottom: 0;
}

.block {
    width: 900px;
/*     border: 4px solid magenta;  */
    margin: 0 auto;
    padding-bottom: 0px;  
}

    .block .complex h2{
         margin-bottom: 80px;     
    }

.intro{
    padding-top:60px;
    background:#FFFDF7;
    

}

    .intro .block {
        padding: 100px 0;
        min-height:400px;
        background-repeat:no-repeat;
    }

    .intro h1 {
        font-weight:900;
        font-size: 40px;
        /* color: #204848; */
        color:#204848;

        margin-bottom:1.2em;
    }

    .intro p {
        text-align:justify;
        hyphens:auto;
    }

    .intro .what {
        background-image:url(/art/wat.svg);   
        background-position: 0px center;
        padding-left: 360px;
        box-sizing:border-box;

    }

    .intro .why {
        margin-top:-50px;
        margin-bottom:-50px;
        padding-right: 360px;
        box-sizing:border-box;
        background-image:url(/art/why.svg);
        background-position: right center;
        
    }

    .intro .about {
        /* margin-top:-50px; */
        background-image:url(/art/us.svg);
        background-position: 0px center;
        padding-left: 360px;
        padding-bottom:108px;
        box-sizing:border-box;
        /* border: 4px solid #f530f5; */
    }

    .intro .products {
        /* margin-top:-50px; */
        background-image:url(/art/us.svg);
        background-position: 0px center;
        padding-right: 360px;
        padding-bottom:108px;
        box-sizing:border-box;
        background-position:right center;
        /* border: 4px solid #f530f5; */
    }

.section {
    font-weight:700;
    font-size: 72px;
    background-color: #204848;
    color: #FFF9E7;
    text-shadow: 1px 2px 4px rgba(0,0,0,0.5);
    padding: 2em 0;
    /* border: 4px solid magenta; */
    text-align:center;
}

    .section h1 {
        text-transform: uppercase;
        font-weight:300;
    }
    
    .section h1 em {
        font-size:120%;
        font-weight:600;
    }

    .section h1::first-letter {
        font-size:120%;
    }

    .section.services h1::first-letter {
        margin-right:-0.06em;
    }

    .section h2{
        font-weight:300;
        font-size: 30px;
        margin-top:1em;
        opacity: 0.9;
        line-height:1.15em;
    }

    .section p{
        font-weight:100;
        font-size: 30px;
        margin-top:1em;  
        color: #FFF9E7;  
    }





.section2{
/*     box-shadow: inset 0px 0px 50px rgba(0,0,0,0.05); */
    color: #2c4c49;
    text-shadow: 0px 0px 0px rgba(0,0,0,0.5);
/*     border: 4px solid magenta; */
    text-align:center;
    padding:65px 0px 65px 0px;

} 

    .section2 > h1 {
        font-weight:700;
        font-size: 72px;
    }

    .section2 > h2{
        font-size:42px;
        color:#2c4c49;
        letter-spacing:0.01em;
        margin: 0 auto;
    }

    .section2.emergency {
        background-image:url(/art/emergency.svg);
        background-repeat:no-repeat;
        background-position: center 50px;
        padding-top:235px;
    }

    .section2.emergency:hover {
        background-color:#effbb4;
        transition: background 4s, transform 1s;
        
    }

    .section2 > h4{
        font-weight:100;
        font-size: 30px;
        color: #766E6E;
        line-height:1.46em;
        text-align: center;
        box-sizing: border-box;
        transform:scale(1.00);
    } 


    .section2 > h2,
    .section2 > h4 {
        margin-top: 40px;
    }

    .section2 h1 em {
        font-size:120%;
        font-weight:600;
    }  

    .section2.services h1::first-letter {
        margin-right:-0.06em;
    }    
      

.aor h2 {
    font-weight:700;
    font-size: 39px;
    color:#204848;
    padding:2.5em;
    text-align:center;
}

    .aor h2.packets{
        color:#fff9e7;
        padding:2.5em;
        text-align:center;
        background-color: 204848;
        letter-spacing:0.001em;
        box-shadow: inset 0px 0px 150px rgba(0,0,0,0.25);
        text-shadow: 1px 2px 4px rgba(0,0,0,0.5);
    }

.services {
    display:flex;
    justify-content: space-around;
    padding-bottom:110px;
}

    .service {
        width:100%;
        padding-top:60px;
        /*background-image:url(/art/specialist.svg);
        background-repeat:no-repeat;
        background-position:top center;
        background-size:130px; */
    }

        .service h4 {
            font-size:25px;
            font-weight:bold;
            color: #204848;
            flex-direction:row;
            text-align:center;
            font-weight:500;
            margin-bottom: 2em;
        }

        .service h5 {
            font-size:18px;
            font-weight:300;
        }

        .service ul {
            font-size: 17px;
            padding: 0 10px;
            background:white;
            margin:10px;
            box-shadow:0px 2px 2px rgba(0,0,0,0.1);
            border-radius:16px;
        }

            .service li {
                position:relative;
                padding: 1.5em 0;
                text-align:center;
                height:3em;
                display:flex;
                align-items:center;
                justify-content:center;
            }

            .service li:after {
                content:' ';
                position:absolute;
                top:0%;
                width:40%;
            }

            .service li:not(:first-child):after {
                border-top: 1px solid #42362a26;
            }

                .service li span {
                    display:block;
                }

                .service a.more {
                    font-size:20px;
                    color:#545050;
                    flex-direction:row;
                    text-align:center;
                    font-weight:300;
                    padding-top: 10px;
                    text-decoration: none;
                    display: block;
                    text-align:center;
                    display:block;
                    width:100%;
                    padding: 40px 0;
                    border-radius:8px;
                    text-shadow:0px 1px 0px rgba(0,0,0,0.15);
                    transition: all 0.25s ease-in-out;
                }

        .service a.more:hover {
            transform:scale(1.1);
        }

        .service .specialist{
            padding-top:150px;
            background-image:url(/art/specialist.svg);
            background-repeat:no-repeat;
            background-position:top center;
            background-size:130px;
        }

        .service .monitoring{
            padding-top:150px;
            background-image:url(/art/monitoring.svg);
            background-repeat:no-repeat;
            background-position:top center;
            background-size:130px;
        }

        .service .extra{
            padding-top:150px;
            background-image:url(/art/extra.svg);
            background-repeat:no-repeat;
            background-position:top center;
            background-size:130px;
        }


.info-item {
}

    .info-item .block{
        padding: 100px 0;
        background-repeat:no-repeat;
        background-position-y: 130px;
        background-size:150px;
    }

    .info-item:nth-child(even) .block {
        background-position-x: 0;
        padding-left: 280px;
    }

    .info-item:nth-child(odd) .block {
        background-position-x: 100%;
        padding-right: 280px;
    }

        .info-item p,
        .info-item ul {
            font-size:19px;
            hyphens:auto;
        }

        .info-item li {
        }

        .info-item li:before {
            content: '•';
            margin-right: 1em;
            color: #204848;
        }

        .info-item h2{
            margin:0 0 1.0em 0;
            color:#204848;
            text-align:center;
            font-weight:600;
            font-size: 35px;
        }

        .info-item:nth-child(odd) h2 {
            text-align:left;
        }

        .info-item:nth-child(even) h2 {
            text-align:left;
        }

        .info-item .price {
            
            color:#204848;
            
            position: relative;
            letter-spacing: -0.03em;
            font-size:40px;
            font-weight:300;
        }

            .info-item .price:before,
            .info-item .price .rub,
            .info-item .price .per {
                top: -0.15em;
                font-size: 22px;
                position:relative;
            }

            .info-item .price.from:before {
                content: 'от';
                margin-right:0.3em;
                margin-left:-1.4em;
                opacity: 0.5;
                color: gray;
            }

            .info-item .price .rub {
                margin-left:0.3em;
            }

            .info-item .price .per {
                margin-left: 1em;
                opacity:0.75;
            }

           


    .info-item.ORM .block {
        background-image:url(/art/ORM.svg);
        background-position-y: center;
        background-size:180px;
    }

    .info-item.agents .block{
        background-image:url(/art/agents.svg);
        background-position-y: center;
        background-size:180px;
    }

    .info-item.PR .block{
        background-image:url(/art/PR.svg);
        background-size:180px;
        background-position-y: center;
    }

    .info-item.negative .block{
        background-image:url(/art/negative.svg);
        min-height:400px;
        background-position-y: center;
        background-size:205px;

    }

    .info-item.content .block{
        background-image:url(/art/content.svg);
        background-position-y: center;
        background-size:180px;
    }

        .info-item.content .p.link {         <!--БЛЯ-->
            transform:scale(1.1);
        
        }


    .info-item.questions .block{
        background-image:url(/art/question.svg);
        background-position-y: center;
        background-size:150px;
    }

    .info-item.search .block{
        background-image:url(/art/search.svg);
        /* min-height:400px; */
        background-position-y: center;
        background-size:180px;
    }

    .info-item.presentation3 .block{
        background-image:url(/art/presentation3.svg);
        min-height:400px;
        background-position-y: center;
        background-size:180px;
    }

    .info-item.telegram .block{
        background-image:url(/art/telegram.svg);
        background-position-y: 295px;;
        background-position-x: -30px;
        background-size:265px;
    }

    .info-item.evangelist .block{
        background-image:url(/art/evangelist.svg);
        background-position-y: 150px;
        background-size:200px;
    }

    .info-item.specialiste .block{
        background-image:url(/art/specialiste.svg);
        background-position-y: 45px;
        background-size:205px;
    }

    .info-item.strategy .block{
        background-image:url(/art/strategy.svg);
        background-position-y: center;
        background-size:180px;
    }

    .info-item.analytic .block{
        background-image:url(/art/analytic.svg);
        background-position-y: center;
        background-size:180px;
    }

    .info-item.SERP .block{
        background-image:url(/art/SERP.svg);
        background-position-y: center;
        background-size:180px;
    }

    .info-item.analys .block{
        background-image:url(/art/analys.svg);
        background-position-y: center;
        background-size:160px;
    }

    .info-item.monitoring .block{
        background-image:url(/art/monitoring3.svg);
        background-position-y: center;
        background-size:200px;
    }

    

.complex {
    display:flex;
    justify-content:center;
    text-align:center;

}
    
    .complex .item {
        width:100%;

    }

        .complex h4 {
            color:#214848;
            font-size:30px;
            font-weight:700;
            line-height:0.75em;
        }

        .complex h4,
        .complex ul {
            margin: 90px 0;
        }

        .complex .item:not(:last-child) ul {
            border-right: 1px solid #766e6e47;
        }

        .complex ul {
            padding: 0 1.5em;
            text-align:left;
        }
            .complex li {
                margin-left:0em;
                display:block;
                font-weight:300;
                line-height:1.2em;
                margin-bottom:1.15em;
                color:#204848;
                text-align:center;
            }


            .complex li span {
                color:#766e6e;
                font-size:22px;
                letter-spacing:0.02em;
            }

            .complex .price{
                color:#204848;
                text-align:center;
                letter-spacing: -0.03em;
                font-size:40px;
                font-weight:300;
                margin-top:2em;
            }


.services2 .block {
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
}

    .service2 {
        text-align:center;
        padding:0 20px;
        margin:50px 0;
        width:25%;
        background-repeat:no-repeat;
        background-position: center 0;
        padding-top:120px;
    }

    .services2.zero .service2 {
        width:20%;
    }

        .service2 h4 {
            font-weight:700;
            color:#766e6e;
            margin-bottom:10px;
            margin-top:30px;
            letter-spacing:0.09em
        }

        .service2 h5 {
            font-weight:100;
            color:#766e6e;
            font-size:15px;
            letter-spacing:0.005em
        }

        .service2.analytic {
            background-image:url(/art/analytic.svg);   
        }

        .service2.strategy {
            background-image:url(/art/strategy.svg);
        }

        .service2.strategy2 {
            background-image:url(/art/strategy2.svg);
        }

        .service2.PRpaper {
            background-image:url(/art/PRpaper.svg);
        }

        .service2.PR2 {
            background-image:url(/art/PR2.svg);
        }

        .service2.presentation {
            background-image:url(/art/presentation.svg);

        }

        .service2.presentation2 {
            background-image:url(/art/presentation2.svg);

        }

        .service2.specialiste {
            background-image:url(/art/specialiste.svg);
        }

        .service2.answers {
            background-image:url(/art/answers.svg);
        }

        .service2.negative2 {
            background-image:url(/art/negative2.svg);
        }

        .service2.agents2 {
            background-image:url(/art/agents2.svg);
        }
        
        .service2.SERP {
            background-image:url(/art/SERP.svg);
        }

        .service2.analys {
            background-image:url(/art/analys.svg);
        }

.social-media-content .posts {
    display:flex;
    flex-direction:row;
    justify-content: stretch;
    text-align: center;
    margin-top:50px;
}

    .social-media-content .post {
        flex:1;
        padding:10px;
    }

        .social-media-content .post h4 {
            font-size: 34px;
            font-weight:100;
            margin-bottom:50px;
            color:#766e6e;
        }

        .social-media-content .post h4 em {
        /* font-size:40px; */
        }

        .social-media-content .post .body {
            height: 470px;
            background:white;
            border:1px solid rgba(0,0,0,0.1);
            box-shadow:0px 2px 2px rgba(0,0,0,0.07);
            border-radius:16px;
        }

.reviews-content .posts {
    display:flex;
    justify-content:space-between;
    text-align: justify;
    margin-top:50px;
}

    .reviews-content h2 {
        font-size: 30px;
        font-weight:100;
        line-height:1.27em;
        margin:65px 0px 65px 0px;
        color:#766e6e;
        flex-direction:row;
    }

    .reviews-content .post h4 {
        font-size: 34px;
        font-weight:100;
        color:#766e6e;
        flex-direction:row;
        text-align: justify;
    }

    .reviews-content .comment {
        width:100%;
        background:white;
        box-shadow:0px 2px 2px rgba(0,0,0,0.1);
        border-radius:16px;
        align-items:center;
        flex-direction:column;
        padding:40px 40px 40px 145px;
        background-image:url(/art/userpic.png);
        background-size: 72px 70px;
        background-repeat: no-repeat;
        background-position:40px 24px;
    }

    .reviews-content .comment:not(:last-child) {
        margin-bottom: 14px;
    }

    .reviews-content .username {
        font-size:30px;
        font-weight:700;
        color: #766E6E;
        text-align:left;
        margin:0 0 40px 0;
    }

.section.quality-control {
    padding-bottom:30vw;
}

    .section.quality-control h1{
        margin-bottom:67px;
    }

    .section.quality-control h2{
        opacity:0.9;
        margin:2.4em 1em;
        letter-spacing:0.1em;
    }


.form{
    position:relative;
    background:#FFF9E7;
    height:500px;
    margin-bottom:30vw;
}
    .form svg {
        z-index:101;
    }

    .form polygon {
        fill: #FFF9E7;
    }

    .form h1{
        position:absolute;
        bottom:100%;
        line-height:0.68em;
        width:100%;
        font-weight:500;
        font-size:90px;
        color:#1E6D66;
        text-align:center;
        z-index:110;
    }

    .form .top {
        position:absolute;
        bottom:100%;
    }

    .form .top polygon {

    }

    .form .bottom {
        position:absolute;
        top:100%;
        z-index:-1;
    }

    .form .fields {
        width: 520px;
        margin: 0 auto;
        padding-top:130px;
        text-align:center;
    }

        .form input {
           background: none;
           border: none;
           border-bottom: 2px solid #766e6e61;
           transition:all 0.25s ease-in-out;
           padding-bottom:0.3em;
           display: block;
           width:100%;
           margin-bottom:1em;
           color:#204848;
           font-family:'Avenir Next Cyr';
           font-weight:400;
           font-size: 25px;

        }

        .form input:focus {
           outline:none;
           border-bottom-width: 2px;
           border-bottom-color:#204848;
        }

        .form button {
            margin-top:60px;
            font-size:37px;
            padding:0.2em 0;
            border:none;
            outline:none;
            background:none;
            color:#1E6D66;
            font-weight:600;
            cursor:pointer;
            transition: all 0.3s ease-in-out;
            border-bottom:4px solid transparent;
        }

        .form button:hover {
            transform:scale(1.1);
            border-bottom:4px solid #1E6D66;

        }
        
.prices {    
    margin-top:100px;
}

    .prices h1 {
        margin-bottom:135px;
    }

    dl {
      display:flex;
      border-bottom:2px dotted rgba(255, 249, 231, 0.41);
      justify-content:space-between;
      font-size:20px;
      margin-bottom:1em;

    }

    dt, dd {
      position:relative;
      top:0.3em; 
      display:inline-block;


    }

    dt {
      text-align:left;
      padding-right: 5.6em;
      background: linear-gradient(to right, #2c4c49 calc(100% - 5em),transparent 100%);
      margin-bottom:0em;
    }

    dd {
      text-align:right;
      padding-left: 5.6em;
      background: linear-gradient(to left, #2c4c49 calc(100% - 5em),transparent 100%);

    }

.section,
.section2,
.content-container {
    position:relative;
}
.section:after,

.content-container:after {
    content: '';
    position:absolute;
    left:50%;
    margin-left:-20px;
    top:100%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 20px 0 20px;
    border-color: #1d4040 transparent transparent transparent;
}

.complexServices{
    background-color:#fffdf7;
    text-align:left;
}

    .complexServices .item .block {
        padding: 50px 0px 110px 330px;
        background-repeat:no-repeat;
    }

        .complexServices h2{
            font-weight: 700;
            color: #204848;
            padding:50px 0px 50px 0;
            text-align: left;
            letter-spacing:0.004em;
        }

        .complexServices em{
            font-weight:300;
        }

        .complexServices p {
            padding-bottom:0px;
            font-size:26px;
        }

        .complexServices .bar {
            display:flex;
        }
            
            .complexServices .bar > * {
                display:block;
                font-size:30px;
                line-height:30px;
                color: #00000094;
                font-weight:600;
                padding:0.8em 1em;
            }

            .complexServices .bar .price {
                flex:1;
                text-align:right;
                padding-right: 0;
                color: #204848;
                letter-spacing: -0.03em;
                position: relative;
                top: -0.15em;
            }

            .complexServices .bar .price em {
                font-size: 60px;
                position: relative;
                top: 0.12em;
            }
            
            .complexServices .bar a {
                text-align:center;
                background-color: #43a49c00;
/*                 box-shadow: 0 0 4px rgba(0,0,0,0.4); */
                border-radius:5px; 
                text-decoration:none;

                
                background:#204848;
                color:#fffdf7;
                border: 4px solid #204848;

                
            }

                .complexServices a:hover{

                    color: #204848;
                    background-color:#ffc107b3; */
                    background-color:#e7e23194;
                    border: 4px solid #204848;
                    
                     
                    transition: all 0.25s;
                }

    .complexServices .item.reanimation .block {
        background-image:url(/art/emergency.svg);
        background-position: 0 center;
        background-size:200px;
    }

        .complexServices .item.reanimation .block h2 {
            font-size: 57.4px;
        }

    .complexServices .item.zero .block {
        background-image:url(/art/zero.svg);
        background-position: -30px 170px;
        font-size:60px;
        background-size:250px;
    }

        .complexServices .item.zero .block h2{
            font-size: 48.5px; 
        }
        

    .complexServices .item.support .block {
        background-image:url(/art/support.svg);
        background-position: -10px 200px;
        background-size:210px;
    }

        .complexServices .item.support .block h2 {
            font-size: 59px;
        }

.basement {
    color:#fff9e7;
    text-shadow:1px 2px 4px rgba(0,0,0,0.5);
    text-align:center;
    font-size:30px;
    margin-top:100px;
    margin-bottom:100px;
}

    .basement h1 {
        font-size:30px;
        padding-bottom:1em;
        font-size:70px;

    }

    .basement h2 {
        font-size:10px;
        font-weight:100;
        margin-left:50px;
        margin-top:145px; 
        opacity:0.8;  
        text-align:left;
        
    }

       .basement h2:last-child{
           margin-bottom:50px;
           margin-top:15px; 
       }

        .basement a {
            color:#fff9e7;
        }

.expandable {
  margin-top:50px;
  max-height: 300px;
  overflow: hidden;
  position: relative;
  transition: max-height 0.5s cubic-bezier(0.42, 0, 0.77, 0.4);
  padding-bottom:70px;
}

.expandable.expanded {
  max-height: 1000px;

}

/* .expandable:nth-child(odd){
    background-color: #f9f7f2;
}

.expandable:nth-child(even){
    background-color: #fffdf7;
} */

.expandable:not(.expanded) {
  user-select: none;
  cursor: pointer;
}

.expandable:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background: linear-gradient(to bottom, rgba(255, 253, 247, 0) 0%, rgb(255, 253, 247) 95%); 
  opacity: 1;
  transition: opacity 0.5s cubic-bezier(0.42, 0, 0.5, 1.04);
}

.info-item:nth-child(even) .expandable:before {
    background: linear-gradient(to bottom, #fffdf700 0%, #fffdf7ff 95%); 
}

.info-item:nth-child(odd) .expandable:before {
    background: linear-gradient(to bottom, #f9f7f200 0%, #f9f7f2ff 95%); 
}

.expandable.expanded:before {
  opacity: 0;
}

.expandable:not(.expanded):after {
  content: '';
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='73' height='18' viewBox='0 0 73 18' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3ctitle%3edown2%3c/title%3e%3cdesc%3eCreated using Figma%3c/desc%3e%3cg id='Canvas' transform='translate(-220 353)'%3e%3cg id='down2'%3e%3cg id='Group'%3e%3cg id='Group'%3e%3cg id='Vector'%3e%3cuse xlink:href='%23path0_fill' transform='translate(221 -352)' fill='%23204848'/%3e%3cuse xlink:href='%23path1_stroke' transform='translate(221 -352)' fill='%23204848'/%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/g%3e%3cdefs%3e%3cpath id='path0_fill' d='M 35.3295 15.3121C 35.1555 15.3121 34.9815 15.2821 34.8165 15.2211L 0.987543 2.90914C 0.209543 2.62614 -0.193457 1.76514 0.0915433 0.987145C 0.374543 0.208145 1.23854 -0.191855 2.01354 0.0911448L 35.3295 12.2161L 68.6455 0.0911448C 69.4235 -0.192855 70.2845 0.209145 70.5675 0.987145C 70.8515 1.76514 70.4495 2.62614 69.6715 2.90914L 35.8425 15.2221C 35.6775 15.2821 35.5035 15.3121 35.3295 15.3121Z'/%3e%3cpath id='path1_stroke' d='M 34.8165 15.2211L 35.1633 14.2832L 35.1585 14.2814L 34.8165 15.2211ZM 0.987543 2.90914L 1.32954 1.96944L 1.32938 1.96938L 0.987543 2.90914ZM 0.0915433 0.987145L 1.03053 1.33112L 1.03144 1.3286L 0.0915433 0.987145ZM 2.01354 0.0911448L 1.67054 1.03048L 1.67155 1.03085L 2.01354 0.0911448ZM 35.3295 12.2161L 34.9875 13.1558L 35.3295 13.2803L 35.6715 13.1558L 35.3295 12.2161ZM 68.6455 0.0911448L 68.9875 1.03085L 68.9885 1.03051L 68.6455 0.0911448ZM 70.5675 0.987145L 69.6278 1.32898L 69.6282 1.33005L 70.5675 0.987145ZM 69.6715 2.90914L 69.3297 1.96938L 69.3295 1.96945L 69.6715 2.90914ZM 35.8425 15.2221L 36.1843 16.1619L 36.1846 16.1618L 35.8425 15.2221ZM 35.3295 14.3121C 35.2702 14.3121 35.2139 14.3019 35.1633 14.2832L 34.4698 16.1591C 34.7492 16.2624 35.0409 16.3121 35.3295 16.3121L 35.3295 14.3121ZM 35.1585 14.2814L 1.32954 1.96944L 0.645541 3.84884L 34.4745 16.1608L 35.1585 14.2814ZM 1.32938 1.96938C 1.06889 1.87463 0.936653 1.58737 1.03052 1.33112L -0.847437 0.643174C -1.32357 1.94292 -0.649806 3.37765 0.645703 3.8489L 1.32938 1.96938ZM 1.03144 1.3286C 1.12519 1.07054 1.41368 0.936684 1.67054 1.03048L 2.35655 -0.848188C 1.06341 -1.32039 -0.376105 -0.654249 -0.848356 0.645692L 1.03144 1.3286ZM 1.67155 1.03085L 34.9875 13.1558L 35.6715 11.2764L 2.35554 -0.848557L 1.67155 1.03085ZM 35.6715 13.1558L 68.9875 1.03085L 68.3036 -0.848557L 34.9875 11.2764L 35.6715 13.1558ZM 68.9885 1.03051C 69.2464 0.936343 69.5334 1.06961 69.6278 1.32898L 71.5073 0.645305C 71.0357 -0.651319 69.6007 -1.32205 68.3026 -0.848225L 68.9885 1.03051ZM 69.6282 1.33005C 69.7223 1.58803 69.5891 1.87504 69.3297 1.96938L 70.0134 3.8489C 71.31 3.37725 71.9807 1.94226 71.5069 0.644239L 69.6282 1.33005ZM 69.3295 1.96945L 35.5005 14.2825L 36.1846 16.1618L 70.0136 3.84883L 69.3295 1.96945ZM 35.5008 14.2824C 35.4472 14.3018 35.389 14.3121 35.3295 14.3121L 35.3295 16.3121C 35.6181 16.3121 35.9079 16.2624 36.1843 16.1619L 35.5008 14.2824Z'/%3e%3c/defs%3e%3c/svg%3e ");
  -background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.0' x='0px' y='0px' viewBox='0 0 32 40' enable-background='new 0 0 32 32' xml:space='preserve'%3e%3cpolygon points='31.355,15.082 16,28.57 0.645,15.082 2.625,12.828 16,24.577 29.375,12.828 '/%3e%3cpolygon points='31.355,5.684 16,19.171 0.645,5.684 2.625,3.43 16,15.178 29.375,3.43 '/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: 100%;
  color:#204848;
  position: absolute;
  height:10px;
  width:40px;
  bottom: 0px;
  right:0px;
  text-align: right;
  opacity: 0.65;
}

/*.expandable:not(.expanded):after:hover{
    transform:scale(1.1);
} */

